@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  --bg-color: hsl(0, 0%, 94%);
  --bg-white: hsl(0, 0%, 100%);
  --bg-grey: hsl(0, 1%, 44%);
  --bg-purple: hsl(259, 100%, 65%);
  --bg-error: hsl(0, 100%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 57%;
  background-color: var(--bg-white);
  padding: 3.5em;
  border-radius: 20px 20px 30% 20px;
}

.container form {
  display: flex;
  gap: 1.8em;
}

.container form div {
  display: flex;
  flex-direction: column;
}

.container form label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  color: var(--bg-grey);
  margin-bottom: 5px;
}

.container form input {
  width: 155px;
  font-size: 32px;
  font-weight: 700;
  padding: 12px 24px;
  border: 1.5px solid hsl(0, 0%, 86%);
  border-radius: 8px;
  font-family: inherit;
  caret-color: var(--bg-purple);
}

.container form label.error {
  color: var(--bg-error);
}

.container form input.error-input {
  border: 1.5px solid var(--bg-error);
}

.container p {
  color: var(--bg-error);
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  padding-top: 8px;
}

.container form input::placeholder {
  color: hsla(0, 1%, 44%, 0.8);
}

.container form input:focus {
  outline: none;
  border: 1.5px solid var(--bg-purple);
}

.container .submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .submit .border {
  border: 1.5px solid var(--bg-color);
  width: 100%;
}

.container .submit .image {
  padding: 1.5em;
  border-radius: 50%;
  background-color: var(--bg-purple);
  cursor: pointer;
  display: flex;
}

.container .submit .image:hover {
  background-color: hsl(0, 0%, 8%);
}

.container h1 {
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}

.container h1 span {
  color: var(--bg-purple);
  letter-spacing: 16px;
  margin-right: -8px;
}

@media (max-width: 375px) {
  body {
    justify-content: flex-start;
    max-width: 375px;
    padding: 90px 18px 0 18px;
  }
  .container {
    width: 100%;
    padding: 50px 22px;
    border-radius: 24px 24px 25% 24px;
  }
  .container form {
    width: 100%;
    justify-content: space-between;
  }
  .container form label {
    font-size: 12px;
  }
  .container form input {
    width: 88px;
    padding: 12px 16px;
    font-size: 20px;
  }
  .container form {
    gap: 0px;
  }
  .container h1 {
    font-size: 3.4em;
  }
  .container .submit {
    justify-content: start;
    margin: 35px 0 40px 0;
  }
  .container .submit .image {
    padding: 20px;
  }
  .container .submit .border {
    width: 100%;
  }
  .container .submit svg {
    width: 25px;
    height: 25px;
  }
  .container path {
    stroke-width: 4px;
  }
  .container .right-border {
    width: 100%;
    border: 1.5px solid var(--bg-color);
  }
  .container p {
    font-size: 10px;
    width: 65px;
  }
}
